* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-text-size-adjust: none;
}

.header-menu {
  margin-bottom: 15px;
  max-width: 1280px;
  min-width: 980px;
  background-color: #303030;
  position: relative;
  transition: all 0.1s ease-in 0s;
  padding: 15px 0;
}

.heder-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.heder-title-text {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #939699;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.navigation {
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #939699;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.content-heroes {
  max-width: 1280px;
  min-width: 980px;
  justify-content: space-around;
}
.carts {
  justify-content: center;
}
.cart-actors {
  display: block;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 15px;
  margin: 15px 5px;
  border: 2px solid #939699;
}
li {
  flex-direction: column;
}
.img-actor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 255px;
  max-height: 360px;
  height: auto;
  border-radius: 4%;
  margin-bottom: 10px;
}

.info-actors-link {
  text-decoration: none;
  color: #939699;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.info-actors-link span {
  font-weight: 600;
  color: #252525;
}

.modal {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  justify-content: center;
  display: flex;
  position: relative;
  background-color: #161515;
  border-radius: 25px;
  margin-top: 5%;
  max-width: 40vw;
  max-height: 200vh;
  min-width: 600px;
  min-height: 600px;
}
.modal-close__btn {
  position: absolute;
  left: 5%;
  padding: 15px;
  margin: 10px;
  min-height: 20px;
}

.modal .form {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.modal .form__wrapper {
  flex-grow: 1;
}

.chest-icon {
  min-width: 37px;
  min-height: 37px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2' class='r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue'%3E%3Cg%3E%3Cpath d='M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px;
  border-radius: 9999px;
}

.chest-icon:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.form__avatar {
  justify-content: center;
  display: flex;
  width: 500px;
}
